a, a:visited, a:active {
  color: #444;
}

#vis {
  width: 1040px;
  height: 600px;
  clear: both;
  margin-bottom: 10px;
}


.system-font {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
}

.page-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 46px;
}

text.title {
  font-size: 23px;

}

circle.bubble {
  cursor:pointer;
}

.sum {
  font-size: 60px;
}

text.vc-lable.odd {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 24px;
  fill: #02020A;
}

text.vc-lable.even {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 24px;
  fill: #5A7D7C;
}

text.company-lable.odd {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 24px;
  fill: #02020A;
}

text.company-lable.even {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 24px;
  fill: #5A7D7C;
}

footer {
  text-align: center;
}

#view_selection {
  margin-top: 10px;
}

.v-cover{
  position: absolute;
  
}

.years {
  font-size: 21px;
  fill: #aaa;
}

.tooltip {
	position: absolute;
	top: 160px;
	left: 75%;
  /*-moz-border-radius:5px;
	border-radius: 5px;*/
  /*border: 2px solid #000;*/
	/* background: #222222; */
  /*background: #fff;*/
	opacity: .9;
	/* color: #eeeeee; */
  color: black;
	padding: 15px;
	width: 150px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
	font-size: 24px;

	z-index: 10;
}

.tooltip span{
  line-height: 105%;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

